/* @import  */

.eyeIcon {
  position: absolute;
  right: 15px;
  top: 0;
  width: 8%;
  height: 100%;
  z-index: 2;
}

.eyeIcon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
